[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.21.1"
pandas = "*"
confuse = "*"
scikit-learn = "*"
metaflow = "*"
pytest = "*"
mlflow = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.10"
